
body {
    max-width: 100%;
    overflow: hidden;
}

.admin-login-background-container{
    display: flex;   
}

img {
    max-width: 100%;
    height: auto;
}

.admin-login-food-image-container {
    position: absolute;
    

}
  

.admin-login-banner1-container {
    position: absolute;
    top: -85px;
    right: -150px;
    z-index: -2;
    

}

.admin-login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 50%;
    margin-left: 730px; 
    margin-top: 30px; 
    
}

.admin-login-text{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;

}

.admin-login-underline{
    width: 61px;
    height: 6px;
    background: white;
    border-radius: 9px;
}

.admin-login-inputs{
    margin-left: 900px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.admin-login-input{
    display: flex;
    align-items: center;
    margin-left: -30px;
    width: 400px;
    height: 80px;
    background: white;
    border-radius: 30px;
}

.admin-login-input img{
    margin: 0px 30px;

}

.admin-login-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}


.admin-login-submit-container{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    margin-left: 840px;

}

.admin-login-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 30px;
    margin-top: 10px;
    height: 59px;
    color: white;
    background-color: #a49e9e;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}


