
body {
    max-width: 100%;
    overflow: hidden;
}

.background-container{
    display: flex;   
}

img {
    max-width: 100%;
    height: auto;
}

.food-image-container {
    position: absolute;
}   
  

.banner1-container {
    position: absolute;
    top: -85px;
    right: -150px;
    z-index: -2;
    
}

.login-white-box{
    background-color: rgba(255, 255, 255, 0.8);
    height: 500px;
    width: 600px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 740px;
    padding: 40px 80px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 50%;
    margin-left: 100px; 
    
}

.text{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;

}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 9px;
}

.inputs{
    margin-left: 45px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input{
    display: flex;
    align-items: center;
    margin-left: -30px;
    width: 400px;
    height: 80px;
    background: white;
    border-radius: 30px;
}

.input img{
    margin: 0px 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}

.reset-password{
    text-decoration: none;
    font-size: 18px;
    color: rgb(80, 175, 175);
}

.reset-password:hover{
    color: rgb(52, 109, 109);
}






