body {
    max-width: 100%;
    overflow: hidden;
}

.partner-login-background-container{
    display: flex;   
}

img {
    max-width: 100%;
    height: auto;
}

.partner-login-food-image-container {
    position: absolute;
}   
  

.partner-login-banner1-container {
    position: absolute;
    top: -85px;
    right: -150px;
    z-index: -2; 

}

.partner-login-white-box{
    background-color: rgba(255, 255, 255, 0.8);
    height: 500px;
    width: 600px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 740px;
    padding: 40px 80px;
}

.partner-login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 70%;
    margin-left: 55px; 
    
}

.text{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;

}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 9px;
}


.partner-login-inputs{
    margin-left: 30px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input{
    display: flex;
    align-items: center;
    margin-left: -30px;
    width: 400px;
    height: 80px;
    background: white;
    border-radius: 30px;
}

.input img{
    margin: 0px 30px;

}

.react-icons{
    color: grey;
    height: 30px;
    width: 40px;
    margin-left: 18px;


}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}

.partner-login-submit-container{
    display: flex;
    margin-top: 70px;
    margin-left: 160px;

}


