body {
    max-width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.partnership-banner {
    position: absolute;
    top: -85px;
    right: -150px;
    z-index: -2;

}

.partnership-map {
    margin-left: 70px;
    margin-top: 30px;
}

.partnership-gps{
    height: 100px;
    width: 100px;
    margin-top: -520px;
    margin-left: 1140px;
}

.white-box{
    background-color: rgba(255, 255, 255, 0.8);
    height: 550px;
    width: 640px;
    border-radius: 30px;
    margin-top: -120px;
    margin-left: 680px;
    padding: 40px 80px;
} 

h2{
    color: black;
    font-size: 50px;
    align-content: center;
}

ol{
    padding-top: 12px;
    list-style-type: circle;
    line-height: 1.9;
    font-size: 20px;
}

.link{
    text-decoration: none;
    font-size: 18px;
    color: rgb(80, 175, 175);
}

.link:hover{
    color: rgb(52, 109, 109);
}

.partnership--popover-text{
    font-size: 15px;
    padding-left: 5px;
}


