
.selector--background-container{
    display: flex;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
    
}

.selector--type{
    padding-left: -10px;
}

.selector--cuisine{
    padding-left:-10px;
}

.selector--price-range{
    padding-left: -10px;
}


.selector--Line{
    height: 200px;
    margin-top: 12px;
    width: 2px;
    background-color: rgba(110, 109, 109,0.2);
}